aiobotocore==1.4.2
aiofiles==23.2.1
aiohttp==4.3.1
aioitertools==0.7.1
aiosignal==1.2.1
aiosqlite==0.22.0
alabaster==0.7.12
anaconda-anon-usage==1.13
anaconda-catalogs==1.1.1
anaconda-client==1.7.2
anaconda-cloud-auth==0.7.3
anaconda-navigator==1.10.0
anaconda-project==0.10.0
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==20.1.0
argon2-cffi-bindings==2.2.1
arrow==1.1.1
astroid==2.10.4
astropy==5.1.0
asttokens==2.0.5
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==21.2.0
Automat==20.2.0
autopep8==1.5.6
Babel==2.9.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.2.1
beautifulsoup4==4.10.0
binaryornot==0.4.4
black==22.9b0
bleach==4.1.0
bokeh==2.4.0
boltons==21.0.1
botocore==1.24.0
Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2021.5.30
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.2
click==8.0.1
cloudpickle==1.6.0
clyent==1.2.2
colorama==0.4.4
colorcet==2.0.6
comm==0.3.5
conda==4.11.0
conda-build==3.21.3
conda-content-trust==0.1.1
conda-libmamba-solver==1.10.3
conda-pack==0.7.4
conda-package-handling==1.8.0
conda-repo-cli==1.0.75
conda-token==0.4.0
conda-verify==3.4.2
conda_index==0.8.0
conda_package_streaming==1.1.0
constantly==15.1.0
contourpy==0.8.0
cookiecutter==1.7.3
cryptography==36.0.0
cssselect==1.1.0
cycler==0.10.0
cytoolz==0.11.0
daal4py==2023.1.1
dask==2.14.0
datasets==1.16.0
datashader==0.14.1
datashape==0.5.4
debugpy==1.6.0
decorator==5.0.7
defusedxml==0.7.1
diff-match-patch==20210304
dill==0.3.5
distlib==0.3.9
distributed==2.12.0
distro==1.8.0
docstring-to-markdown==0.13.0
docutils==0.17.1
entrypoints==0.3
et-xmlfile==1.1.0
evidently==0.4.7
executing==0.6.2
fastapi==0.80.0
fastapi-restful==0.5.0
fastjsonschema==2.15.1
filelock==3.3.1
flake8==4.0.0
Flask==2.0.2
fonttools==4.27.0
frozenlist==1.4.1
fsspec==2021.11.1
future==0.18.2
gensim==4.1.2
glob2==0.7
greenlet==1.1.2
gunicorn==20.1.0
h11==0.14.0
h5py==3.5.0
HeapDict==1.0.3
holoviews==1.14.3
httpie==2.4.0
hyperlink==21.0.0
ibm-watson==1.4.0
imageio==2.14.1
iniconfig==1.1.1
intake==0.6.5
intake-esm==2021.1.6
intake-xarray==2021.1.6
invenio-base==1.2.3
ipykernel==7.5.0
ipympl==0.7.1
ipython==8.6.1
ipython-genutils==0.3.0
ipywidgets==7.6.6
isort==5.9.3
jedi==0.18.0
Jinja2==3.1.1
jose==1.1.0
json5==0.9.6
jsonpath-ng==1.5.3
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.3.0
jupyter-console==7.1.2
jupyter-core==4.9.1
jupyter-server==1.8.0
jupyter-server-proxy==1.11.0
jupyterhub==2.4.0
jupyterlab==5.4.3
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.2
keyring==28.4.0
kiwisolver==1.5.0
lazy-object-proxy==1.7.1
libarchive==3.5.2
lxml==4.9.3
Mako==1.1.7
markdown==3.3.4
MarkupSafe==2.0.1
mccabe==0.6.1
mistune==0.8.4
mock==4.0.4
mpld3==0.3
mpl-scatter-density==0.7
mpmath==1.2.1
msgpack==1.0.3
msgpack-python==1.0.5
multipledispatch==0.6.0
murmurhash==1.0.5
mutagen==1.44.0
navigator-updater==0.3.2
nbclassic==0.6.1
nbclient==0.5.7
nbconvert==6.3.1
nbdime==2.2.0
nbformat==5.1.5
nest-asyncio==1.5.1
networkx==2.6.2
notebook==6.4.7
numba==0.54.1
numpy==1.21.2
numpydoc==1.1.0
oauthlib==3.1.1
odfpy==1.4.1
openpyxl==3.1.9
opt-einsum==3.3.0
packaging==21.1
pandas==1.4.3
pandoc==2.14.0
pandocfilters==1.5.0
param==1.12.0
paramnb==0.2.2
parso==0.8.3
path==18.6.0
pathlib2==2.3.6
patsy==0.5.2
pep8==1.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pkginfo==1.8.1
pluggy==1.0.0
ply==3.11
psutil==5.8.0
py==2.0.5
pyasn1==0.4.9
pyasn1-modules==0.2.9
pycodestyle==2.8.0
pycosat==0.6.3
pycparser==2.20
pycryptodome==3.10.4
pycurl==7.43.1
pyflakes==2.3.0
Pygments==2.10.0
pylint==3.5.6
pymysql==1.0.2
pyOpenSSL==22.0.3
pyparsing==3.0.4
pyrsistent==0.18.0
PySocks==1.7.1
pytest==7.2.6
python==3.9.10
python-jsonrpc-server==0.4.0
pywin32==301
pyzmq==22.2.1
requests==2.26.0
requests-aws4auth==1.2.0
requests-unixsocket==0.2.0
rfc3986==1.5.0
rope==0.19.0
ruamel.yaml==0.17.5
ruamel.yaml.clib==0.2.6
s3transfer==0.5.0
sakia==1.1.0
scipy==1.7.3
seaborn==0.11.2
Send2Trash==1.8.0
simplegeneric==0.8.1
six==1.16.0
smmap==4.0.0
sniffio==1.2.1
sortedcollections==1.5.0
sortedcontainers==2.4.0
soupsieve==2.4.3
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.3
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder==6.0.0
spyder-kernels==2.1.0
SQLAlchemy==1.4.24
sqlite==3.33.0
tabulate==0.8.9
terminado==0.12.2
testpath==0.5.0
text-unidecode==1.3
toolz==0.11.1
tornado==7.0.3
tox==3.24.4
traceback2==1.4.0
traitlets==6.5.1
typed-ast==1.4.4
typing-extensions==3.7.4.3
ufx==0.17.1
urllib3==1.26.6
uvicorn==0.15.0
wcwidth==0.2.6
webencodings==0.5.1
wheel==0.36.2
widgetsnbextension==3.5.2
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.11.2
xlrd==2.0.1
XlsxWriter==1.4.5
xlwings==0.25.3
xlwt==1.3.0
xmlschema==1.6.5
yapf==0.31.0
zict==2.0.0
zipp==3.6.0
